// Color Theme

// Working Color Pallete
$working-background-color: #32CD32;
$working-secondary-background: #28A428;
$working-tertiary-background: #1E7B1E;





$short-break: #91BED5;
$long-break: #30426A;