.container {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 15px;
    padding: 10px;

    #states {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 15px;

        div {
            &:hover {
                cursor: pointer;
            }
        }
    }

    #timer {
        text-align: center;
    }

    #actions {
        display: grid;
        grid-template-columns: auto auto;
        gap: 15px;

        button {
            &:hover {
                cursor: pointer;
            }
        }
    }
}