@import '../styles/variables.scss';

main {
    background-color: $working-background-color;
    top: 50%;
    height: -webkit-fill-available;

    app-clock {
        position: absolute;
        top: 30%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}