@import '../../../styles/variables.scss';

nav {
    display: grid;
    align-content: baseline;
    gap: 10px;
    background-color: $secondary-background;
    height: 100vh;
    max-width: 300px;
    color: white;

    ul {
        list-style: none;
        padding: 0;

        li {
            text-align: center;

            i {
                font-size: 25px;

                 &:hover {
                     cursor: pointer;
                 }
            }
        }

        hr {
            background-color: white;
        }
    }

    #settings {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        max-width: 300px;
        padding: 15px;

        input {
            width: 100%;
            border-radius: 5%;
            border: none;
            height: 30px;
            padding-left: 5px;
            background-color: $tertiary-background;
            color: white;
        }
    }

    button {
      background-color: #007bff;
    }

    &.is-closed {
        width: 50px;
        transition: min-width 2s;
    }
}
